<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
        default-init-method="miInit" default-destroy-method="miEnd">

    <bean id="pointA" class="com.ayscom.prueba.Point">
        <qualifier value="circleRelated"></qualifier>
        <property name="x" value="0"></property>
        <property name="y" value="0"></property>
    </bean>
    <bean id="pointB" class="com.ayscom.prueba.Point">
        <qualifier value="circleRelated"></qualifier>
        <property name="x" value="${pointA.pointX}"></property>
        <property name="y" value="${pointB.pointX}"></property>
    </bean>
    <bean id="center" class="com.ayscom.prueba.Point">
        <property name="x" value="20"></property>
        <property name="y" value="0"></property>
    </bean>

    <bean class="com.ayscom.prueba.MyBeanFactoryPP"></bean>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="pointsconfig.properties"></property>
    </bean>

    <bean id="circle" class="com.ayscom.prueba.Circle">
    </bean>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
    <context:annotation-config/>
</beans>